@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  min-height: 100vh;
}
.wrapper {
  min-height: 100vh;
}
header {
  min-height: 50px;
}
footer {
  min-height: 50px;
}
main {
  min-height: calc(100vh - 122px) !important;
} 

.tooltip {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tooltip:hover {
  opacity: 1;
}
